rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read, write: if true;
    }

    match /teamMembers/{memberId} {
      allow read, write: if true;
    }

    match /sponsors/{sponsorId} {
      allow read, write: if true;
    }
  }
}
